.about-us {
  border-bottom: 1px solid #000000;
}
.about-us__wrap {
  @include container;
}
.about-us__title {
  margin-top: 32px;
  margin-bottom: 2px;
  @include title;
}
.about-us__features {
  margin: 0;
  margin-bottom: 63px;
  padding: 0;
  @include font(Verdana, bold, 16px, normal);
  list-style: none;
}
.about-us__feature {
  display: inline-block;
  padding-top: 85px;
  vertical-align: top;
}

@media($w-tablet) {
  .about-us__title {
    margin-top: 56px;
    margin-bottom: 20px;
  }
  .about-us__features {
    margin-bottom: 81px;
  }
  .about-us__feature {
    width: 330px;
    margin-right: 2px;
    @include font-size-rem(20px);
  }
  .about-us__feature:nth-child(2n) {
    margin-right: 0;
  }
}

@media($w-desktop) {
  .about-us__title {
    margin-top: 68px;
    margin-bottom: 16px;
    margin-left: 176px;
  }
  .about-us__features {
    margin-left: 176px;
    margin-bottom: 88px;
  }
  .about-us__feature {
    margin-right: 25px;
  }
}
