.contacts {
  color: $color-text;
}
.contacts__wrap {
  @include container;
}
.contacts__title {
  margin-top: 40px;
  margin-bottom: 30px;
  @include title;
}
.contacts__content {
  margin-bottom: 30px;
  @include clearfix;
  @include font("OpenSans", normal, 14px, 30px);
  &--left {
    float: left;
    width: 78px;
  }
  &--right {
    float: left;
    width: 182px;
  }
}
.contacts__map {
  position: relative;
  right: 30px;
  width: 320px;
  height: 457px;
  margin: 0 auto;
  margin-bottom: 38px;
  background: #444444 url("../../img/map-mobile@1x.jpg") no-repeat 0 0;
}
.contacts__btn {
  margin-bottom: 39px;
}

@media($w-tablet) {
  .contacts__title {
    margin-top: 65px;
    margin-bottom: 64px;
  }
  .contacts__content {
    float: left;
    margin-right: 68px;
    margin-bottom: 55px;
  }
  .contacts__map {
    clear: both;
  }
  .contacts__btn {
    width: 230px;
    margin: 0 auto;
    margin-bottom: 57px;
  }
}

@media($w-desktop) {
  .contacts__wrap {
    position: relative;
  }
  .contacts__title {
    margin-top: 150px;
    margin-bottom: 64px;
    margin-left: 175px;
  }
  .contacts__content {
    float: none;
    margin-left: 175px;
  }
  .contacts__map {
    position: absolute;
    top: -80px;
    right: 0;
    margin: 0;
  }
  .contacts__btn {
    margin-bottom: 105px;
    margin-left: 175px;
  }
}
