.main-nav {
  font-family: $font-verdana;
  font-weight: bold;
  @include font-size-rem(16px);
  @include line-height(16px, 24px);

  &--right {
    order: 10;

    @media($w-tablet) {
      order: 0;
    }
  }

  &--left {
    @media($w-desktop) {
      order: -1;
      // width: 450px;
    }
  }

  &--add {
    display: none;

    @media($w-desktop) {
      display: flex;
      // width: 450px;
    }
  }
}
.main-nav__list {
  display: flex;
  flex-flow: column;
  @include no-list;

  @media($w-tablet) {
    display: flex;
    flex-flow: row;
    width: 347px;
  }
}
.main-nav__list-item {
  border-top: 1px solid #ececec;
  display: block;
  padding: 30px;
  padding-left: 24%;
  color: $color-title;
  text-decoration: none;
  @include opacity-text;

  @media($w-tablet) {
    padding: 0;
    padding-top: 22px;
    padding-bottom: 22px;
    border: none;
  }
}


