.order {
  &__title {
    padding-right: 30px;
    margin-bottom: 35px;
    color: #63d1bb;
    @include font("OpenSans", bold, 16px, 16px);
    text-transform: uppercase;
  }
  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }
  label {
    display: block;
    color: #000000;
    @include font(Verdana, bold, 16px, 18px);
  }
  &__btn {
    margin-bottom: 58px;
  }
}
.order__type {
  input {
  }
  label {
    margin-bottom: 35px;
  }
}
.order__color {
  input {
  }
  label {
    margin-bottom: 46px;
  }
}
.order__name {
  legend {
    margin-bottom: 35px;
  }
  input {
    @include input;
  }
}
.order__phone-number {
  input {
    @include input;
  }
  legend {
    margin: 0;
  }
}
.order__email {
  input {
   @include input;
  }
  legend {
    margin: 0;
  }
}
.order__additionally {
  textarea {
    @include input;
    padding: 16px 15px;
    border: 2px solid #000000;
    width: 226px;
  }
}

