.production {
  display: flex;
  flex-flow: wrap column;
  margin-bottom: 58px;
  border: 1px solid #ececec;

  @media($w-tablet) {
    // display: flex;
    // flex-flow: wrap column;
  }

  @media($w-desktop) {
    display: block;
    margin-bottom: 0;
  }
}
.production__title {
  order: -1;
  margin-left: 90px;
  font-family: $font-verdana;
  font-weight: bold;
  @include font-size-rem(16px);
  @include line-height(16px, 24px);
  text-decoration: none;

  @media($w-tablet) {
    order: 0;
    margin-left: 105px;
    @include font-size-rem(18px);
    @include line-height(18px, 24px);
  }

  @media($w-desktop) {
    float: right;
    width: 140px;
    margin: 0;
    margin-top: 96px;
    margin-bottom: 39px;
    margin-right: 147px;
  }
}
.production__video {

  img {
    width: 100%;
    height: auto;
  }

  @media($w-tablet) {
   width: 668px;
   height: 455px;
   }

  @media($w-desktop) {
    float: left;
    width: 682px;
  }
}
.production__description {
  margin: 0;
  padding: 30px;
  color: $color-text;
  font-family: $font-opensans;
  @include font-size-rem(14px);
  @include line-height(14px, 24px);

  @media($w-tablet) {
    padding: 39px 42px;
    @include font-size-rem(16px);
    @include line-height(16px, 30px);
  }

  @media($w-desktop) {
    float: right;
    width: 237px;
    margin-bottom: 48px;
    margin-right: 51px;
    padding: 0;
  }
}
.production__btn {
  width: auto;
  margin: 0 30px 32px;

  @media($w-desktop) {
    float: right;
    width: 226px;
    margin-right: 56px;
  }
}
